# yaml-language-server: $schema=https://raw.githubusercontent.com/yeagerai/genvm/refs/tags/v0.2.11/doc/schemas/default-config.json#web
bind_address: 127.0.0.1:{{ genlayer.web.ports.listen_port }}
webdriver_host: http://127.0.0.1:{{ genlayer.webdriver.ports.listen_port }}

lua_script_path: {{ web_lua_script_file_path }}
vm_count: 6
lua_path: {{ web_lib_dir }}/genvm-lua/?.lua
signer_url: "#{signerUrl}"
signer_headers: {}

threads: 4
blocking_threads: 16
log_disable: ""
#log_level: trace

session_create_request: |
  {
    "capabilities": {
      "alwaysMatch": {
        "browserName": "firefox",
        "moz:firefoxOptions": {
          "args": [
            "--headless"
          ]
        }
      }
    }
  }

extra_tld: []
always_allow_hosts: []
