datadir: {{ node_data_dir }}
logging:
    level: INFO
    json: false
    file:
        enabled: false
        level: DEBUG
        folder: logs
        maxsize: 10
        maxage: 7
        maxbackups: 100
        localtime: false
        compress: true
node:
    mode: validator
    network: asimov-phase5
    rpc:
        port: {{ genlayer.validator.ports.rpc_port }}
        endpoints:
            groups:
                ethereum: true
                genlayer: true
                genlayer_debug: true
                zksync: true
    ops:
        port: {{ genlayer.validator.ports.metrics_port }}
        endpoints:
            metrics: true
            health: true
    admin:
        port: {{ genlayer.validator.ports.admin_port }}
    validatorWalletAddress: {{ genlayer.validator_address }}
    operatorAddress: {{ genlayer.operator_address }}
    genlayerdb: genlayer.db
    keystoredir: keystore
rollup:
  genlayerchainrpcurl: {{ vault.testnet.zksync.rpc_url }}
  genlayerchainwebsocketurl: {{ vault.testnet.zksync.ws_url }}
consensus:
  consensusaddress: {{ genlayer.consensus_address }}
  genesis: {{ genlayer.genesis }}
merkleforest:
    maxdepth: 16
    dbpath: {{ node_merkle_forest_dir }}/data.db
    indexdbpath: {{ node_merkle_dir }}/index.db
merkletree:
    maxdepth: 16
    dbpath: {{ node_merkle_tree_dir }}
genvm:
    manager_url: http://127.0.0.1:{{ genlayer.manager.ports.listen_port }}
    permits: 8
    sync_wait_timeout: 20s
metrics:
    interval: 15s
    collectors:
        node:
            enabled: true
            interval: 15s
            simulated_rx_bytes_per_process: 1024
            simulated_tx_bytes_per_process: 512
        genvm:
            enabled: true
            interval: 15s
            simulated_rx_bytes_per_process: 1024
            simulated_tx_bytes_per_process: 512
        webdriver:
            enabled: true
            interval: 15s
            simulated_rx_bytes_per_process: 1024
            simulated_tx_bytes_per_process: 512
