# For Heurist
HEURISTKEY='{{ vault.external.heurist.api_key }}'
 
# For Comput3
# COMPUT3KEY='your_comput3_api_key'
 
# For io.net
# IOINTELLIGENCE_API_KEY='your_ionet_api_key'
 
# For other providers, use the appropriate environment variable name
